#form-contact{
    width: 310px;
    margin: 10% auto
}

label {
    float: left;
    width: 150px;
}

input, label {
    display: inline-block;
}

.btn-submit{
    float: right;
}

textarea{
    width: 97%;
    resize: none;
}