#form-contact{
    width: 310px;
    margin: 10px auto
}

label {
    float: left;
    width: 150px;
}

input, label {
    display: inline-block;
}

.btn-submit{
    width: 300;
    margin-top: 10px;
}

#message{
    width: 305px;
}

#type{
    width: 153px;
    margin-left: 2px;
}

textarea{
    width: 97%;
    resize: none;
}