div #profilepic{
    width: 250px;
    height: 300px;
    -moz-box-shadow: 3px 3px 4px rgb(3, 3, 3);
    -webkit-box-shadow: 3px 3px 4px rgb(3, 3, 3);
    box-shadow: 3px 3px 4px rgb(0, 0, 0);
    background: url('../res/img/templates/exampleProfile.png');

}

aside{
    padding: 0px;
    vertical-align: top;
    margin-top: 15px;
}

.content {
    display: inline-block;
    width: 630px;
    float: right;
}

 #btn-edit, #btn-save{
     float: right;
     margin-right: 15px;
 }


h2{
    margin: 15px 15px 15px 0px;
}
